.container{
    display : grid;
    grid-template-columns:1fr;
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid black;
}
h1{
    color: cadetblue;
}
h3{
  color: darkgoldenrod;  
}
#panel-mensajes{
    color: green;
    font-size: 1.2em;
    font-weight: bolder;
}
    /* Media query for mobile viewport */
    @media screen and (max-width: 400px) {
        #paypal-button {
            width: 100%;
        }
    }
    
    /* Media query for desktop viewport */
    @media screen and (min-width: 400px) {
        #paypal-button {
            width: 250px;
            display: inline-block;
        }
    }

